<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <!-- using local reference -->
      <input type="text" class="form-control" #newServerName>
      <label>Server Content</label>
      <input type="text" class="form-control" #newServerContent>
      <br>
      <button
        class="btn btn-primary me-1"
        (click)="onAddServer(newServerName)">Add Server</button>
      <button
        class="btn btn-primary me-1"
        (click)="onAddBlueprint(newServerName)">Add Server Blueprint</button>
    </div>
  </div>
