<div class="container">
  <div class="row col-10">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let server of servers"
        [ngClass]="getStatusClasses(server)"
      >
        <div class="row">
          <div class="col">
            <strong>{{ server.name }}</strong> |
            {{ server.instanceType | uppercase }} |
            {{ server.started | date: "fullDate" | uppercase }}
          </div>
          <div class="col-1">
            <span class="badge rounded-pill bg-secondary">
              {{ server.status }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
